.row
  .small-8.small-centered.columns
    %nav.breadcrumbs
      %a{ :href => "/admin/domains" } Domains
      %a{ :href => "/admin/domains/#{@domain.fqdn}" }= @domain.fqdn
      %a{ :href => "/admin/domains/#{@domain.fqdn}/aliases" } Aliases
      %a{ :href => "/admin/domains/#{@domain.fqdn}/aliases/#{@alias.local_part}" }= @alias.local_part

.row
  .small-8.small-centered.columns
    - if flash.has?(:error)
      .alert-box.alert
        = flash[:error]
    - if flash.has?(:success)
      .alert-box.success
        = flash[:success]

.row
  .small-2.columns
    %ul.side-nav
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}"} Overview
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}/mailboxes"} Mailboxes
      %li.active
        %a{ :href => "/admin/domains/#{@domain.fqdn}/aliases"} Aliases
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}/settings"} Settings
  .small-8.small-centered.columns
    %h2= "Alias #{@alias.local_part}@#{@domain.fqdn}"
    %form{ :method => "POST", :action => "/admin/domains/#{@domain.fqdn}/aliases" }
      .row
        .small-12.columns
          %label
            Destination
            %input{ :type => 'text', :placeholder => "destination", :name => "destination" }
      .row
        .small-12.columns
          %label
            Mailbox status
            %select
      .row
        .small-12.columns
          %input.button{ :type => "submit", :value => "Save changes" }
          %input.button.alert{ :type => "submit", :value => "Delete alias" }
