.row
  .small-8.small-centered.columns
    %nav.breadcrumbs
      %a{ :href => "/admin/domains" } Domains
      %a{ :href => "/admin/domains/#{@domain.fqdn}" }= @domain.fqdn
      %a{ :href => "/admin/domains/#{@domain.fqdn}/mailboxes" } Mailboxes
      %a{ :href => "/admin/domains/#{@domain.fqdn}/mailboxes/#{@mailbox.local_part}" }= @mailbox.local_part

.row
  .small-8.small-centered.columns
    - if flash.has?(:error)
      .alert-box.alert
        = flash[:error]
    - if flash.has?(:success)
      .alert-box.success
        = flash[:success]

.row
  .small-2.columns
    %ul.side-nav
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}"} Overview
      %li.active
        %a{ :href => "/admin/domains/#{@domain.fqdn}/mailboxes"} Mailboxes
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}/aliases"} Aliases
      %li
        %a{ :href => "/admin/domains/#{@domain.fqdn}/settings"} Settings
  .small-8.small-centered.columns
    %h2= "Mailbox #{@mailbox.local_part}@#{@domain.fqdn}"
    %form{ :method => "POST", :action => "/admin/domains/#{@domain.fqdn}/mailboxes" }
      .row
        .small-12.columns
          %label
            Transport
            %select{ :type => "transport" }
      .row
        .small-12.columns
          %label
            Mailbox format
            %select{ :type => "mailbox_format" }
      .row
        .small-12.columns
          %label
            Mailbox status
            %select
      .row
        .small-12.columns
          %label
            Login permissions
            %select{ :multiple => true, :name => "login_permissions" }
              %option SMTP
              %option IMAP
      .row
        .small-12.columns
          %label
            Quota
          .row.collapse
            .small-8.columns
              %input{ :type => 'text', :name => "quota", :placeholder => "0" }
            .small-4.columns
              %select.postfix{ :name => "quota_suffix" }
                %option kB
                %option MB
                %option GB
      - if @user.is_admin?
        .row
          .small-12.columns
            %label
              UID (leave empty for auto)
              %input{ :type => 'text', :name => "uid", :placeholder => 'auto' }

      .row
        .small-12.columns
          %label
            New Password
            %input{ :type => 'password', :placeholder => "Password", :name => "new_password" }

      .row
        .small-12.columns
          %label
            Repeat new password
            %input{ :type => 'password', :placeholder => "Password", :name => "repeat_new_password" }
      .row
        .small-12.columns
          %input.button{ :type => "submit", :value => "Save changes" }
          %input.button.alert{ :type => "submit", :value => "Delete mailbox" }
