.row
  .small-8.small-centered.columns
    %nav.breadcrumbs
      %a{ :href => "/admin/global" } Settings
      %a.current{ :href => "/admin/global/transports" } Transports

.row
  .small-8.small-centered.columns
    - if flash.has?(:error)
      .alert-box.alert
        = flash[:error]
    - if flash.has?(:success)
      .alert-box.success
        = flash[:success]

.row
  .small-2.columns
    %ul.side-nav
      %li
        %a{ :href => "/admin/global/users"} Users
      %li.active
        %a{ :href => "/admin/global/transports"} Transports
      %li
        %a{ :href => "/admin/global/params"} Params
  .small-8.small-centered.columns
    %h2 Transports
    %form{ :method => "POST", :action => "/admin/global/transports/delete" }
      %table#transport-list
        %thead
          %tr
            %th Remove
            %th Name
            %th Transport
            %th Edit
        %tbody
          -for transport in @transports
            %tr
              %td
                %input{ :type => "checkbox", :name => "transport_delete[]", :value => "#{transport.id}" }
              %td= transport.name
              %td= transport.transport
              %td
                %a.button.postfix{ :href => "#", :'data-reveal-id' => "edit-transport-modal", :onclick => "$('#transport-modify-id').val('#{transport.id}'); $('#transport-modify-name').val('#{transport.name}'); $('#transport-modify-transport').val('#{transport.transport}');" }
                  Edit
      %input.button.small{ :type => "submit", :value => "Remove selected" }
    .reveal-modal#edit-transport-modal.small{ :'data-reveal' => true, :role => "dialog", :'aria-hidden' => "true" }
      %h2 Edit transport
      %form{ :method => "POST", :action => "/admin/global/transports/modify" }
        %input#transport-modify-id{ :type => "hidden", :name => "transport_id" }
        .row
          .small-12.columns
            %label Name
            %input#transport-modify-name{ :type => "text", :name => "transport_name" }
        .row
          .small-12.columns
            %label Transport
            %input#transport-modify-transport{ :type => "text", :name => "transport_transport" }
        .row
          .small-12.columns
            %input.button{ :type => "submit", :value => "Save changes" }


    %form{ :method => "POST", :action => "/admin/global/transports/add" }
      .row.collapse
        .small-4.columns
          %input{ :type => "text", :name => "name", :placeholder => "dovecot-lmtp" }
        .small-6.columns
          %input{ :type => "text", :name => "transport", :placeholder => "dovecot_lmtp" }
        .small-2.columns
          %input.button.postfix{ :type => "submit", :value => "Add transport" }

:javascript
  $("#transport-list").dataTable();
